<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>America'sTeam</th>
      <th>TeamTitleTown</th>
      <th>TeamRobby</th>
      <th>GetDaviska'd ZOGG</th>
      <th>My teamBlows</th>
      <th>The IncredibleCovid Cuh</th>
      <th>LUKESteam</th>
      <th>PatrickMahomeless</th>
      <th>JayCutler</th>
      <th>BurtonGuster</th>
      <th>Blackout ThenBrownout</th>
      <th>IssFreekyAss</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>America'sTeam</th>
      <td>0-0</td>
      <td>10-3</td>
      <td>11-2</td>
      <td>10-3</td>
      <td>9-4</td>
      <td>7-6</td>
      <td>7-6</td>
      <td>10-3</td>
      <td>7-6</td>
      <td>9-4</td>
      <td>11-2</td>
      <td>9-4</td>
    </tr>
    <tr>
      <th>TeamTitleTown</th>
      <td>3-10</td>
      <td>0-0</td>
      <td>6-7</td>
      <td>4-9</td>
      <td>8-5</td>
      <td>4-9</td>
      <td>6-7</td>
      <td>6-7</td>
      <td>4-9</td>
      <td>3-10</td>
      <td>5-8</td>
      <td>6-7</td>
    </tr>
    <tr>
      <th>TeamRobby</th>
      <td>2-11</td>
      <td>7-6</td>
      <td>0-0</td>
      <td>8-5</td>
      <td>7-6</td>
      <td>4-9</td>
      <td>4-9</td>
      <td>6-7</td>
      <td>5-8</td>
      <td>7-6</td>
      <td>7-6</td>
      <td>6-7</td>
    </tr>
    <tr>
      <th>GetDaviska'd ZOGG</th>
      <td>3-10</td>
      <td>9-4</td>
      <td>5-8</td>
      <td>0-0</td>
      <td>7-6</td>
      <td>4-9</td>
      <td>4-9</td>
      <td>6-7</td>
      <td>6-7</td>
      <td>5-8</td>
      <td>9-4</td>
      <td>7-6</td>
    </tr>
    <tr>
      <th>My teamBlows</th>
      <td>4-9</td>
      <td>5-8</td>
      <td>6-7</td>
      <td>6-7</td>
      <td>0-0</td>
      <td>4-9</td>
      <td>4-9</td>
      <td>7-6</td>
      <td>5-8</td>
      <td>6-7</td>
      <td>4-9</td>
      <td>6-7</td>
    </tr>
    <tr>
      <th>The IncredibleCovid Cuh</th>
      <td>6-7</td>
      <td>9-4</td>
      <td>9-4</td>
      <td>9-4</td>
      <td>9-4</td>
      <td>0-0</td>
      <td>7-6</td>
      <td>10-3</td>
      <td>8-5</td>
      <td>9-4</td>
      <td>10-3</td>
      <td>8-5</td>
    </tr>
    <tr>
      <th>LUKESteam</th>
      <td>6-7</td>
      <td>7-6</td>
      <td>9-4</td>
      <td>9-4</td>
      <td>9-4</td>
      <td>6-7</td>
      <td>0-0</td>
      <td>9-4</td>
      <td>8-5</td>
      <td>8-5</td>
      <td>10-3</td>
      <td>8-5</td>
    </tr>
    <tr>
      <th>PatrickMahomeless</th>
      <td>3-10</td>
      <td>7-6</td>
      <td>7-6</td>
      <td>7-6</td>
      <td>6-7</td>
      <td>3-10</td>
      <td>4-9</td>
      <td>0-0</td>
      <td>6-7</td>
      <td>6-7</td>
      <td>8-5</td>
      <td>5-8</td>
    </tr>
    <tr>
      <th>JayCutler</th>
      <td>6-7</td>
      <td>9-4</td>
      <td>8-5</td>
      <td>7-6</td>
      <td>8-5</td>
      <td>5-8</td>
      <td>5-8</td>
      <td>7-6</td>
      <td>0-0</td>
      <td>6-7</td>
      <td>9-4</td>
      <td>7-6</td>
    </tr>
    <tr>
      <th>BurtonGuster</th>
      <td>4-9</td>
      <td>10-3</td>
      <td>6-7</td>
      <td>8-5</td>
      <td>7-6</td>
      <td>4-9</td>
      <td>5-8</td>
      <td>7-6</td>
      <td>7-6</td>
      <td>0-0</td>
      <td>7-6</td>
      <td>7-6</td>
    </tr>
    <tr>
      <th>Blackout ThenBrownout</th>
      <td>2-11</td>
      <td>8-5</td>
      <td>6-7</td>
      <td>4-9</td>
      <td>9-4</td>
      <td>3-10</td>
      <td>3-10</td>
      <td>5-8</td>
      <td>4-9</td>
      <td>6-7</td>
      <td>0-0</td>
      <td>5-8</td>
    </tr>
    <tr>
      <th>IssFreekyAss</th>
      <td>4-9</td>
      <td>7-6</td>
      <td>7-6</td>
      <td>6-7</td>
      <td>7-6</td>
      <td>5-8</td>
      <td>5-8</td>
      <td>8-5</td>
      <td>6-7</td>
      <td>6-7</td>
      <td>8-5</td>
      <td>0-0</td>
    </tr>
  </tbody>
</table>