<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>America's Team</th>
      <th>Team TitleTown</th>
      <th>Team Robby</th>
      <th>Get Daviska'd ZOGG</th>
      <th>My team Blows</th>
      <th>The Incredible Covid Cuh</th>
      <th>LUKES team</th>
      <th>Patrick Mahomeless</th>
      <th>Jay Cutler</th>
      <th>Burton Guster</th>
      <th>Blackout Then Brownout</th>
      <th>Iss FreekyAss</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>America's Team</th>
      <td>0-0</td>
      <td>11-3</td>
      <td>11-3</td>
      <td>11-3</td>
      <td>10-4</td>
      <td>8-6</td>
      <td>7-7</td>
      <td>10-4</td>
      <td>8-6</td>
      <td>10-4</td>
      <td>12-2</td>
      <td>10-4</td>
    </tr>
    <tr>
      <th>Team TitleTown</th>
      <td>3-11</td>
      <td>0-0</td>
      <td>6-8</td>
      <td>5-9</td>
      <td>9-5</td>
      <td>5-9</td>
      <td>6-8</td>
      <td>6-8</td>
      <td>5-9</td>
      <td>4-10</td>
      <td>6-8</td>
      <td>7-7</td>
    </tr>
    <tr>
      <th>Team Robby</th>
      <td>3-11</td>
      <td>8-6</td>
      <td>0-0</td>
      <td>9-5</td>
      <td>8-6</td>
      <td>5-9</td>
      <td>5-9</td>
      <td>7-7</td>
      <td>6-8</td>
      <td>8-6</td>
      <td>8-6</td>
      <td>7-7</td>
    </tr>
    <tr>
      <th>Get Daviska'd ZOGG</th>
      <td>3-11</td>
      <td>9-5</td>
      <td>5-9</td>
      <td>0-0</td>
      <td>7-7</td>
      <td>4-10</td>
      <td>4-10</td>
      <td>6-8</td>
      <td>6-8</td>
      <td>5-9</td>
      <td>9-5</td>
      <td>7-7</td>
    </tr>
    <tr>
      <th>My team Blows</th>
      <td>4-10</td>
      <td>5-9</td>
      <td>6-8</td>
      <td>7-7</td>
      <td>0-0</td>
      <td>5-9</td>
      <td>4-10</td>
      <td>7-7</td>
      <td>6-8</td>
      <td>7-7</td>
      <td>5-9</td>
      <td>7-7</td>
    </tr>
    <tr>
      <th>The Incredible Covid Cuh</th>
      <td>6-8</td>
      <td>9-5</td>
      <td>9-5</td>
      <td>10-4</td>
      <td>9-5</td>
      <td>0-0</td>
      <td>7-7</td>
      <td>10-4</td>
      <td>9-5</td>
      <td>10-4</td>
      <td>11-3</td>
      <td>9-5</td>
    </tr>
    <tr>
      <th>LUKES team</th>
      <td>7-7</td>
      <td>8-6</td>
      <td>9-5</td>
      <td>10-4</td>
      <td>10-4</td>
      <td>7-7</td>
      <td>0-0</td>
      <td>9-5</td>
      <td>9-5</td>
      <td>9-5</td>
      <td>11-3</td>
      <td>9-5</td>
    </tr>
    <tr>
      <th>Patrick Mahomeless</th>
      <td>4-10</td>
      <td>8-6</td>
      <td>7-7</td>
      <td>8-6</td>
      <td>7-7</td>
      <td>4-10</td>
      <td>5-9</td>
      <td>0-0</td>
      <td>7-7</td>
      <td>7-7</td>
      <td>9-5</td>
      <td>6-8</td>
    </tr>
    <tr>
      <th>Jay Cutler</th>
      <td>6-8</td>
      <td>9-5</td>
      <td>8-6</td>
      <td>8-6</td>
      <td>8-6</td>
      <td>5-9</td>
      <td>5-9</td>
      <td>7-7</td>
      <td>0-0</td>
      <td>6-8</td>
      <td>9-5</td>
      <td>7-7</td>
    </tr>
    <tr>
      <th>Burton Guster</th>
      <td>4-10</td>
      <td>10-4</td>
      <td>6-8</td>
      <td>9-5</td>
      <td>7-7</td>
      <td>4-10</td>
      <td>5-9</td>
      <td>7-7</td>
      <td>8-6</td>
      <td>0-0</td>
      <td>7-7</td>
      <td>8-6</td>
    </tr>
    <tr>
      <th>Blackout Then Brownout</th>
      <td>2-12</td>
      <td>8-6</td>
      <td>6-8</td>
      <td>5-9</td>
      <td>9-5</td>
      <td>3-11</td>
      <td>3-11</td>
      <td>5-9</td>
      <td>5-9</td>
      <td>7-7</td>
      <td>0-0</td>
      <td>6-8</td>
    </tr>
    <tr>
      <th>Iss FreekyAss</th>
      <td>4-10</td>
      <td>7-7</td>
      <td>7-7</td>
      <td>7-7</td>
      <td>7-7</td>
      <td>5-9</td>
      <td>5-9</td>
      <td>8-6</td>
      <td>7-7</td>
      <td>6-8</td>
      <td>8-6</td>
      <td>0-0</td>
    </tr>
  </tbody>
</table>